<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{% block title %}Title Tagger Demonstration{% endblock %}</title>

  <link rel="stylesheet"
        type="text/css"
        href="/home.css" />

  <script src="/statics/contrib/jquery-2.1.1.min.js"
          type="text/javascript"></script>

  ## block head

  ## endblock

</head>
<body>
  {% block content %}
  {% endblock %}
</body>

</html>
